<title>{{label}}</title>
<div class="titlebox">
	<div class="title">
		{{label}}
	</div>
</div>

<!-- This is what runs the model. DO NOT DELETE -->
<do-not-touch></do-not-touch>

<div class="navbar-fixed-bottom">
      <div class="bar">
        <input type="text"  ng-model="searchString" placeholder="Search Assertions" />
      </div>  
</div>

<div class="locateslide">
  <div ng-repeat="(key,i) in decks | searchFor:searchString" class="locchild">
    <div >
      <svg height="50" width="50" class="navcircle c{{key}}">

      	<g transform="translate(25,25)">
      		<circle  r="23" class="locatecircle"></circle>
      		<text class="locatetext" dy="0.3em">{{key+1}}</text>
      	</g>
      </svg>
    </div>
  </div>
</div>



